@charset "UTF-8";

		h1, h2, h3, h4, h5, h6, body {
			font-family: "Noto Sans KR", sans-serif;
			border: 0px;
		}
		
		body {
			margin-top: 100px;
			margin-bottom: 100px;
			background-color: #036fbc;
		}
		
		#container {
			width: 1000px;
			margin: 0px auto;
			background-color: white;
		}
		header2 {
			width: 1000px;
			height: 40px;
			background-color: #036fbc;
			float: left;
			text-align: left;
		}
		header {
			width: 1000px;
			height: auto;
			background-color: #036fbc;
			float: left;
			text-align: center;
		}
		#logo {
			width: 300px;
			height: auto;
		}
		#nav_img {
			width: 150px;
			height: auto;
			float: left;
			}
		.header_img {
			width: 20px;
			height: auto;		
		}
		nav {
			width: 1000px;
			background-color: #036fbc;
			float: left;
			text-align: center;
		}
		nav2 {
		width: 1000px;
		height: 100px;
		background-color: #036fbc;
		float: left;
		text-align: left;
		}
		.nav2_img {
		width: 200px;
		height: 100px;
		}
		#nav_list {
			list-style-type: none;
			text-align: center;
		}
		#aside_left {
			list-style-type: none;
		}
		.menu {
			display:inline-block;
			padding-top: 10px;
			padding-botton: 10px;
			padding-left: 20px;
			padding-right: 20px;
		}
		
		.category {
			list-style-type: none;
		}
		
		#left {
			width: 160px;
			float: left;
			padding: 20px;
			background-color: white;
		}
		
		section {
			width: 560px;
			height: 600px;
			float: left;
			padding: 20px;
			background-color: white;
		}
		iframe {
			display:block;
			width: 100%;
			height: 100%;
			border: 0px;
		}
		#right {
			width: 160px;
			float: right;
			padding: 20px;
			background-color: white;
		}
		.button {
			background-color: #036fbc;
			color: white;
			font-size: 16px;
			border: 0px;
			border-radius: 15px;
			width: 160px;
			height: 30px;
			margin-bottom: 3px;
		}
		.input {
			height: 20px;
			width: 125px;
			margin-bottom: 3px;
			border: 0px;
		}
		a {
			text-decoration: none;
		}
		.a_nav {
			color : white;
		}
		.a_link {
			color : black;
		}	
		.a_img:hover {
		text-decoration:none;
		}	
		a:hover {
			text-decoration:underline;
		}
		footer {
			clear: both;
			padding: 20px;
			background-color: #036fbc;
			color : white;		
			text-align: center;
		}